[Desktop Entry]
Version=3.0
Type=Application
Terminal=false
Exec=/usr/share/addad/addad.py
Name=Addad
Icon=/usr/share/addad/addad-logo.png
Categories=GTK;GNOME;Utility;
Comment=Simple app used as Stopwatch, Time Countdown and Pomodoro Technique.
