[Desktop Entry]
Version=2.0
Type=Application
Terminal=false
Exec=/usr/share/addad/addadindicator.py
Name=Addad
Icon=/usr/share/addad/addad-logo.png
Categories=GTK;GNOME;Accessories;Utility;Stopwatch;TimeCountdown;
Comment=Simple app used as Stopwatch and Time Countdown
